In [1]:
import numpy as np
import pandas as pd
import librosa

from tensorflow import keras
import tensorflow as tf

In [2]:
TRAIN_PATH = "C:\\Users\\alexc\\Downloads\\test.csv"
train_set = pd.read_csv(TRAIN_PATH)

In [3]:
train_set.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459
0,0,-19.299429,23.939819,24.920246,23.824490,18.229757,12.041117,7.927525,5.685409,5.893334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,-2.189797,-4.726838,-4.758101,-4.723190,-4.708518,-4.675638,-4.688027,-4.726974,-4.715340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,-2.980991,-4.713631,-4.737583,-4.757959,-4.772906,-4.783252,-4.787738,-4.792071,-4.795683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,-2.779949,-4.730165,-4.758700,-4.763338,-4.764628,-4.769955,-4.767997,-4.771176,-4.771989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,-2.869667,-4.640110,-4.657211,-4.674681,-4.685334,-4.692846,-4.694382,-4.692058,-4.683984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train_set.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459
count,4096.00000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,...,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000
mean,2047.50000,-3.097151,-4.493268,-4.458583,-4.456036,-4.509934,-4.478107,-4.489681,-4.509299,-4.517042,...,0.097875,0.103548,0.107336,0.105514,0.096534,0.105389,0.108488,0.106002,0.106218,0.101197
std,1182.55768,2.231695,4.226259,3.875606,3.441366,3.146592,2.750860,2.574419,2.469622,2.395947,...,0.250594,0.239003,0.227796,0.221449,0.220700,0.201580,0.188554,0.176517,0.164727,0.154278
min,0.00000,-35.420773,-46.602238,-38.250286,-31.240702,-29.058300,-26.591272,-22.587769,-22.047354,-20.951088,...,-0.656880,-0.644554,-0.612811,-0.592632,-0.542730,-0.499969,-0.478670,-0.413986,-0.346139,-0.234947
25%,1023.75000,-4.401959,-4.908533,-4.926726,-4.932182,-4.945208,-4.944487,-4.945648,-4.956220,-4.966001,...,-0.041896,-0.040442,-0.032934,-0.032519,-0.033920,-0.009654,0.000894,0.004992,0.011164,0.008280
50%,2047.50000,-3.015331,-4.422704,-4.451975,-4.463307,-4.471872,-4.462373,-4.472026,-4.473211,-4.487547,...,0.055283,0.056056,0.057621,0.056897,0.059107,0.059629,0.063744,0.064989,0.066615,0.068645
75%,3071.25000,-1.524805,-3.476279,-3.512964,-3.519183,-3.519085,-3.529733,-3.543127,-3.556225,-3.549083,...,0.163268,0.165637,0.167293,0.167558,0.161360,0.159084,0.159435,0.159409,0.152065,0.148085
max,4095.00000,0.431614,28.684881,27.457111,23.824490,18.229757,13.647009,13.935623,13.199969,11.561244,...,1.219417,1.177477,1.093765,1.056111,1.014049,0.953778,0.923445,0.924517,0.899203,0.819054